 body {
 font-family: 'Josefin Sans', sans-serif;
 }
.barva a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.barva a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.barva a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.barva a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

nav {
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:royalblue;
  font-size:30px;
       position: fixed;
    
}
.footer {
    padding: 40px;
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: royalblue;
   color: white;
   text-align: center;
    font-size: 15px;
}
h1{
    text-align: center;
    color: royalblue;
    margin-top: 20px;
    font-size: 80px;
}
.row {
  margin: 8px -16px;
    width: 100%;
}
.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color: white;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.main {
  max-width: 1000px;
  margin: auto;
}
p{
    font-size: 20px;
    text-align: center;
}
h3{
    font-size:30px;
    text-align: center;
}
img{
    border-radius: 50%;
}
.neco{
    border-radius: 0%;
}